body {
    background-color: rgb(243, 239, 252);
    font-family: sans-serif;
    padding: 20px;
}

a {
    color: #4851d1;
    text-decoration: none;
}

li {
    padding: 10px;
}
img {
    display: block;
    margin: auto;
}

.list {
    list-style-position: inside;
    text-align: center;
}

.index-list {
    font-size: 24px;
    text-transform: uppercase;
    color: #4851d1
}

.link-style {
    color: black
}

.border {
    text-transform: uppercase;
    padding: 10px 20px;
    border: 2px solid #000000;
    display: inline-block;
}

.heading-container{
    text-align: center;
}

.list-heading {
    text-align: center;
}